
<!--Covers-->
<section class="covers-section" id="covers">
  <div class="container covers-container">
    <h2 class="covers-h">Covers</h2>
    <div class="content-covers">
      <ul class="marquee-inner">
        <li class="marquee">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ./img/convers/covers-4_desk@1x.jpg 1x,
                  ./img/convers/covers-4_desk@2x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/convers/covers-4_desk@1x.jpg 1x,
                  ./img/convers/covers-4_desk@2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-4_desk@1x.jpg"
                alt="cover-make-up"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                ./img/convers/covers-8_desk@1x.jpg  1x,
                ./img/convers/covers-8_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/convers/covers-8_desk@1x.jpg 1x,
                  ./img/convers/covers-8_desk@1x.jpg 2x"
                  media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-8_desk@1x.jpg"
                alt="cover-transforming-your-body"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="
                  ./img/convers/covers-5_desk@1x.jpg 1x,
                  ./img/convers/covers-5_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-5_desk@1x.jpg 1x,
                        ./img/convers/covers-5_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-5_desk@1x.jpg"
                alt="cover-mimino"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-9_desk@1x.jpg 1x, 
                        ./img/convers/covers-9_desk@2x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-9_desk@1x.jpg 1x, 
                        ./img/convers/covers-9_desk@2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-9_desk@1x.jpg"
                alt="cover-finances-masterfully"
                width="282"
              />
            </picture>
          </a>
        </li>
        <li class="marquee">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-1_desk@1x.jpg 1x, 
                        ./img/convers/covers-1_desk@2x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-1_desk@1x.jpg 1x, 
                        ./img/convers/covers-1_desk@2x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-1_desk@1x.jpg"
                alt="cover-turn-your-bisiness"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-6_desk@1x.jpg 1x, 
                        ./img/convers/covers-6_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-6_desk@1x.jpg 1x, 
                        ./img/convers/covers-6_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-6_desk@1x.jpg"
                alt="cover-traditional-ukrainian-artistry"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-7_desk@1x.jpg 1x, 
                        ./img/convers/covers-7_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-7_desk@1x.jpg 1x, 
                        ./img/convers/covers-7_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-7_desk@1x.jpg"
                alt="cover-organic-vegetables"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-2_desk@1x.jpg 1x, 
                        ./img/convers/covers-2_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-2_desk@1x.jpg 1x, 
                        ./img/convers/covers-2_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-2_desk@1x.jpg"
                alt="cover-stay-healthy"
                width="282"
              />
            </picture>
          </a>
        </li>
        <li class="marquee">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-3_desk@1x.jpg 1x, 
                        ./img/convers/covers-3_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-3_desk@1x.jpg 1x, 
                        ./img/convers/covers-3_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-3_desk@1x.jpg"
                alt="cover-fresh-box"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-10_desk@1x.jpg 1x, 
                        ./img/convers/covers-10_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-10_desk@1x.jpg 1x, 
                        ./img/convers/covers-10_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-10_desk@1x.jpg"
                alt="cover-learning-english"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-4_desk@1x.jpg 1x, 
                        ./img/convers/covers-4_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-4_desk@1x.jpg 1x, 
                        ./img/convers/covers-4_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-4_desk@1x.jpg"
                alt="cover-make-up"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-8_desk@1x.jpg 1x, 
                        ./img/convers/covers-8_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-8_desk@1x.jpg 1x, 
                        ./img/convers/covers-8_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-8_desk@1x.jpg"
                alt="cover"
                width="282"
              />
            </picture>
          </a>
        </li>
        <li class="marquee">
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-1_desk@1x.jpg 1x, 
                        ./img/convers/covers-1_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-1_desk@1x.jpg 1x, 
                        ./img/convers/covers-1_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-1_desk@1x.jpg"
                alt="cover-turn-your-bisiness"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-6_desk@1x.jpg 1x, 
                        ./img/convers/covers-6_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                ./img/convers/covers-6_desk@1x.jpg 1x, 
                ./img/convers/covers-6_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-6_desk@1x.jpg"
                alt="cover-traditional-ukrainian-artistry"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-7_desk@1x.jpg 1x, 
                        ./img/convers/covers-7_desk@1x.jpg 2x"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/convers/covers-7_desk@1x.jpg 1x, 
                        ./img/convers/covers-7_desk@1x.jpg 2x"
                media="(min-width: 768px)"
              />
              <img
                class="covers-image"
                src="./img/convers/covers-7_desk@1x.jpg"
                alt="cover-organic-vegetables"
                width="282"
              />
            </picture>
          </a>
          <a
            class="marquee__line"
            href="https://www.google.com/"
            target="_blank"
            ><picture>
              <source
                class="covers-image"
                srcset="./img/convers/covers-2_desk@1x.jpg 1x, 
                        ./img/convers/covers-2_desk@1x.jpg 2x"
                media="(min-width: 1440px)"/>
                <source
                  srcset="./img/convers/covers-2_desk@1x.jpg 1x, 
                          ./img/convers/covers-2_desk@1x.jpg 2x"
                  media="(min-width: 768px)"
                />
                <img
                  class="covers-image"
                  src="./img/convers/covers-2_desk@1x.jpg"
                  alt="cover-stay-healthy"
                  width="282"
                />
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>