
<!--Covers-->
<section id="covers">
<div class="container covers-container">
    <h2 class="covers-h">Covers</h2>
    <div class="content-covers"> 
        <ul class="marquee__inner">
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-1_desk@1x.jpg, ./img/convers/covers-1_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-1_desk@1x.jpg, ./img/convers/covers-1_desk@2x">
                  <img src="./img/convers/covers-1_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-2_desk@1x.jpg, ./img/convers/covers-2_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-2_desk@1x.jpg, ./img/convers/covers-2_desk@2x">
                  <img src="./img/convers/covers-2_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-3_desk@1x.jpg, ./img/convers/covers-3_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-3_desk@1x.jpg, ./img/convers/covers-3_desk@2x">
                  <img src="./img/convers/covers-3_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-4_desk@1x.jpg, ./img/convers/covers-4_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-4_desk@1x.jpg, ./img/convers/covers-4_desk@2x">
                  <img src="./img/convers/covers-4_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-5_desk@1x.jpg, ./img/convers/covers-5_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-5_desk@1x.jpg, ./img/convers/covers-5_desk@2x">
                  <img src="./img/convers/covers-5_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-6_desk@1x.jpg, ./img/convers/covers-6_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-6_desk@1x.jpg, ./img/convers/covers-6_desk@2x">
                  <img src="./img/convers/covers-6_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-7_desk@1x.jpg, ./img/convers/covers-7_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-7_desk@1x.jpg, ./img/convers/covers-7_desk@2x">
                  <img src="./img/convers/covers-7_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-8_desk@1x.jpg, ./img/convers/covers-8_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-8_desk@1x.jpg, ./img/convers/covers-8_desk@2x">
                  <img src="./img/convers/covers-8_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-9_desk@1x.jpg, ./img/convers/covers-9_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-9_desk@1x.jpg, ./img/convers/covers-9_desk@2x">
                  <img src="./img/convers/covers-9_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                  <!--Mobile-->
                <source media="(max-width: 768px)" 
                srcset="./img/convers/covers-10_desk@1x.jpg, ./img/convers/covers-10_desk@2x.jpg">
                  <!--Table-->
                  <source media="(min-width: 767px)" 
                  srcset="./img/convers/covers-10_desk@1x.jpg, ./img/convers/covers-10_desk@2x">
                  <img src="./img/convers/covers-10_desk@1x.jpg" alt="App" width="282"/>
                </picture>
            </li>
            
        </ul>
    </div>
</div>
</section>

