<header class="header" id="header">
  <div class="container">
    <div class="head-cont">
      <div class="head-list-wrap">
        <a href="" class="header-link link">
          <img
            class="logo-img"
            srcset="./img/header/logo-img-x3.png 3x"
            src="./img/header/logo.png"
            alt="logotype"
            width="80"
          />
        </a>
        <ul class="header-name">
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="4" height="19">
                <use href="./img/sprite.svg#icon-j"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="10" height="11">
                <use href="./img/sprite.svg#icon-e"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="7" height="15">
                <use href="./img/sprite.svg#icon-f"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="7" height="15">
                <use href="./img/sprite.svg#icon-f"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="10" height="11">
                <use href="./img/sprite.svg#icon-e"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="6" height="11">
                <use href="./img/sprite.svg#icon-r"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="9" height="11">
                <use href="./img/sprite.svg#icon-s"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="10" height="11">
                <use href="./img/sprite.svg#icon-o"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="9" height="11">
                <use href="./img/sprite.svg#icon-n"></use>
              </svg>
            </a>
          </li>
          <li class="symbol-header">
            <a href="x" class="symbol-link">
              <svg width="8" height="8">
                <use href="./img/sprite.svg#icon-symbol"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <nav class="nav-tablet">
        <a href="./index.html"><img src="/img/images-svg.svg" alt="" /></a>
        <img src="/img/Portfolio/image.jpg" alt="" />
        <img src="/img/Portfolio/image.png" alt="" />
        <ul class="head-nav-menu list">
          <li class="menu-title item">
            <button class="nav-title-btn">Menu</button>
          </li>
          <li class="menu-item item"><a href="#about-me">About me </a></li>
          <li class="menu-item item"><a href="#benefits">Benefits</a></li>
          <li class="menu-item item"><a href="#projects">Projects</a></li>
          <li class="menu-item item"><a href="#faq">FAQ</a></li>
        </ul>
      </nav>
      <a href="#work-together" class="header-btn"> Order the project</a>

      <div class="burger-btn-wrap">
        <button class="head-btn" type="button">
          <svg width="28" height="28">
            <use href="./img/sprite.svg#icon-burger-menu"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-modal is-hidden">
        <button class="modal-close-btn" type="button">
          <svg width="28" height="28">
            <use href="./img/sprite.svg#icon-close-modal"></use>
          </svg>
        </button>
        <nav class="modal-nav">
          <ul class="modal-menu list">
            <li class="menu-title item">
              <button class="title-btn">Menu</button>
            </li>
            <li class="modal-menu-item item">
              <a href="#about-me">About me </a>
            </li>
            <li class="modal-menu-item item">
              <a href="#benefits">Benefits</a>
            </li>
            <li class="modal-menu-item item">
              <a href="#projects">Projects</a>
            </li>
            <li class="modal-menu-item item"><a href="#faq">FAQ</a></li>
          </ul>
        </nav>
        <a href="#work-together" class="modal-order-btn">Order the project</a>
      </div>
    </div>
  </div>
</header>
