<section class="animate__flipInX hero-section" id="background">
  <div class="container">
    <div class="hero-title-box">
      <h1 class="hero-title">
        Hello.<br />I&#39;m Fullstack developer<br />
        Lloyd Jefferson.
      </h1>
    </div>
    <div class="hero-list-box">
      <ul class="hero-list">
        <li class="hero-social-item">
          <a
            class="hero-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram site"
            >IG</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook site"
            >FB</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="youtube site"
            >YT</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-link"
            href="https://github.com/IhorDid/return-js"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="return js site"
            >GH</a
          >
        </li>
        <li class="hero-social-item">
          <a
            class="hero-link"
            href="mailto:lloydjefferson@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="lloydjefferson site"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
