<section class="hero-section">
    </div>
   <div class="hero-list-box">
        <ul class="hero-list">
            <li class="hero-social"><a href="https://www.instagram.com/goitclub/" class="hero-link">IG</a></li>
            <li class="hero-social"><a href="https://www.facebook.com/goITclub/" class="hero-link">FB</a></li>
            <li class="hero-social"><a href="https://www.youtube.com/c/GoIT" class="hero-link">YT</a></li>
            <li class="hero-social"><a href="" class="hero-link">GH</a></li>
            <li class="hero-social"><a href="" class="hero-link">lloydjefferson@gmail.com</a></li>
        </ul>
   </div>
</section>  <div class="hero-title-box">
    <h1 class="hero-title">
      Hello.<br />I&#39;m Fullstack developer<br />
      Lloyd Jefferson.
    </h1>
  </div>
  <div class="hero-list-box">
      <li class="hero-social">
      <li class="hero-social">
      <li class="hero-social"><a href="" class="hero-link">GH</a></li>
      <li class="hero-social">
        <a href="" class="hero-link">lloydjefferson@gmail.com</a>
      </li>
</section>
