<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper myswiper">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-item swiper-slide">
          <div class="projects-info-wrapper">
            <div class="projects-skills">
              <div class="projects-skill">
                <p>#react</p>
              </div>
              <div class="projects-skill">
                <p>#js</p>
              </div>
              <div class="projects-skill">
                <p>#node js</p>
              </div>
              <div class="projects-skill">
                <p>#git</p>
              </div>
            </div>
            <h3>
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/IhorDid/return-js"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-img-wrapper">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="./img/projects/2dex@1x.png, ./img/projects/2dex@2x.png"
              />
              <source
                media="(max-width: 767px)"
                srcset="./img/projects/2mob.png, ./img/projects/2mob@2x.png"
              />
              <img
                class="projects-img"
                src="./img/projects/2dex@1x.png"
                alt="project1"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="projects-info-wrapper">
            <div class="projects-skills">
              <div class="projects-skill">
                <p>#react</p>
              </div>
              <div class="projects-skill">
                <p>#js</p>
              </div>
              <div class="projects-skill">
                <p>#node js</p>
              </div>
              <div class="projects-skill">
                <p>#git</p>
              </div>
            </div>
            <h3>
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/IhorDid/return-js"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-img-wrapper">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/2dex2@2x.png 1x,
                  ./img/projects/2dex2@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/2mob2@1x.png 1x,
                  ./img/projects/2mob2@2x.png 2x
                "
              />
              <img
                class="projects-img"
                src="./img/projects/2dex2@2x.png"
                alt="project2"
              />
            </picture>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="projects-info-wrapper">
            <div class="projects-skills">
              <div class="projects-skill">
                <p>#react</p>
              </div>
              <div class="projects-skill">
                <p>#js</p>
              </div>
              <div class="projects-skill">
                <p>#node js</p>
              </div>
              <div class="projects-skill">
                <p>#git</p>
              </div>
            </div>
            <h3>
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/IhorDid/return-js"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-img-wrapper">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/2dex3@1x.png 1x,
                  ./img/projects/2dex3@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/2mob3@1x.png 1x,
                  ./img/projects/2mob3@2x.png 2x
                "
              />
              <img
                class="projects-img"
                src="./img/projects/2dex3@1x.png"
                alt="project3"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-btn-container">
        <button class="projects-prev-btn" type="button">
          <svg
            class="projects-arrow-left-icon"
            width="24"
            height="24"
            aria-label="arrow left"
          >
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="projects-next-btn" type="button">
          <svg
            class="projects-arrow-right-icon"
            width="24"
            height="24"
            aria-label="arrow right"
          >
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- End -->
<!-- "Желаю вам никогда не сдаваться и всегда двигаться только вперёд! 
Вы настоящие борцы, и я уверен, 
что ваши усилия принесут великие результаты!" -->
