<section class="section-reviews" id="">
    <div class="container">

        <h2 class="section-reviews-title">REVIEWS</h2>

        <div class="reviews-swiper reviews-swiper-cust ">
            <div class="js-list reviews-swiper-wrapper-cust">
                
                <!--Рендеринг
            <div class="review-card">
                <img src="${avatar_url}" alt="${author}" class="review-card-foto" />
                <h3 class="review-card-name">${author}</h3>
                <p class="review-card-text">${review}</p>
            </div>-->

            </div>
            

            <div class=".swiper-btn-prev"></div>
            <div class=".swiper-btn-next"></div>

        </div>
    </div>
</section>
