<section class="section-reviews" id="reviews">
  <div class="reviews-container">
    <h2 class="section-reviews-title">REVIEWS</h2>

  <div class="swiper reviews-swiper-cust" id="reviews-swiper">
      <ul class="js-list swiper-wrapper"  id="review-card">
        <!--Рендеринг
            <div class="swiper-slide review-card">
                <img src="${avatar_url}" alt="${author}" class="review-card-foto" />
                <h3 class="review-card-name">${author}</h3>
                <p class="review-card-text">${review}</p>
            </div>-->
          </ul>

      <div class="slider-buttons">
        <div class="btn-prev-review-wrapper">
          <button class="btn-prev-review" aria-label="Previous Review">
            <svg class="reviews-arrow-left">
              <use href="./img/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </div>

        <div class="btn-next-review-wrapper">
          <button class="btn-next-review" aria-label="Next Review">
            <svg class="reviews-arrow-right">
              <use href="./img/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
