<footer class="footer" id="work-together">
  <div class="container">
    <div class="footer-wrapper">
      <img
        class="footer-img"
        src="./img/header/logo.png"
        alt="photo of websites owner"
      />
      <h2 class="footer-title">
        Let’s <span class="accent">work</span> <br />together
      </h2>
    </div>

    <form class="footer-form">
      <div class="input-wrapper">
        <input
          class="footer-input footer-input-email"
          type="email"
          name="userEmail"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          placeholder="clients@gmail.com"
        />
        <p class="email-valid email-validation">Success!</p>
        <p class="email-invalid email-validation">Invalid email, try again</p>
      </div>
      <div class="input-wrapper">
        <input
          class="footer-input footer-input-tel"
          type="text"
          name="comments"
          placeholder="comments"
        />
      </div>
      <button class="footer-button" type="submit">Send</button>
    </form>
    <address class="footer-address">
      <ul class="footer-address-list">
        <li>
          <a class="footer-address-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li>
          <a class="footer-address-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
  <div class="to-top is-hidden">
    <svg class="icon-to-top" width="32" height="32">
      <use href="./img/sprite.svg#icon-arrow-top"></use>
    </svg>
  </div>
</footer>
