<footer class="footer" id="work-together">
  <div class="container">
    <h2 class="footer-title">
      <img
        class="footer-img"
        src="../img/header/logo.png"
        alt="photo of websites owner"
      />
      Let’s <span class="accent">work</span> together
    </h2>
    <form class="footer-form">
      <input
        class="footer-input footer-input-email"
        type="email"
        name="footer-input-email"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        placeholder="clients@gmail.com"
      />
      <input
        class="footer-input footer-input-tel"
        type="text"
        name="footer-input-name"
        placeholder="comments"
      />
      <button class="footer-button" type="submit">Send</button>
    </form>
    <address class="footer-address">
      <ul class="footer-address-list">
        <li>
          <a class="footer-address-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li>
          <a class="footer-address-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
