.benefits {
  padding-top: 20px;
}

.benefits-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.benefits-list {
  width: 100%;
  max-width: 1440px;
}

.benefits-ul {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.benefits-item {
  background: #242527;
  border-radius: 20px;
}
.benefits-item h3 {
  padding-left: 24px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.benefits-item p{
  font-weight: 500;
font-size: 16px;

line-height: 24px; 
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}
.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  stroke-width: 1.5px;
  stroke: white;
  fill: none;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background-color: #ed3b44;
  margin: 24px auto 64px 24px;

  animation: rotateAnimation 5s infinite linear,
    backgroundColorChange 5s infinite linear;
  transform-origin: center;
  transition: background-color 0.3s ease-in-out;
} /* Заповнення іконки кольором */

.benefits-item h3 {
  margin: 0;
  font-size: 20px;
}

.benefits-item p {
  margin: 0;
}

.order-btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  width: 187px;
  height: 55px;
  background: currentColor#1c1d20;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.order-btn:hover {
  background-color: #ed3b44;
}

/* Media Queries */

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .benefits-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: #242527;

    width: calc(100% / 2);
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .benefits-item {
    width: calc(33.33% - 20px);
  }
}
