.benefits {
  padding-bottom: 32px;
}
.benefits-wrapper {
  padding-top: 32px;
  padding-bottom: 64px;
  margin: 0;
}

.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.benefits-list {
  width: 100%;
}

.benefits-ul {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

/* animation */
.benefits-item:hover .benefits-icon,
.benefits-item:focus .benefits-icon {
  animation-name: turn-around;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes turn-around {
  0% {
    transform: rotate3d(180deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  75% {
    transform: rotateY(270deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.benefits-item {
  background: #242527;
  border-radius: 20px;
}

.benefits-item h3 {
  padding-left: 24px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.benefits-item p {
  font-weight: 500;
  font-size: 16px;
  padding: 0 24px 24px 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  stroke-width: 1.5px;
  stroke: #fafafa;
  fill: none;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background-color: #ed3b44;
  margin: 24px auto 64px 24px;

  /* animation: rotateAnimation 5s infinite linear,
    backgroundColorChange 5s infinite linear;
  transform-origin: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
} /* Заповнення іконки кольором */

.benefits-item h3 {
  margin: 0;
  font-size: 20px;
}

.benefits-item p {
  margin: 0;
}

.order-btn-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;
  background: currentColor#1c1d20;
  color: #fafafa;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 32px;
}

.order-btn-benefits:hover {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ed3b44;
}

.order-btn-benefits:active {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e0373f;
}

/* Media Queries */

/* Tablet */
@media only screen and (min-width: 768px) {
  .benefits-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .benefits-item {
    max-width: 344px;
    height: 270px;
    width: 50%;
  }

  .order-btn-benefits {
    margin-top: 64px;
  }
}

/* Desktop  */
@media only screen and (min-width: 1440px) {
  .benefits-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 128px;
    position: relative;
  }

  .benefits-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 20px;
  }

  .benefits-title {
    min-width: 284px;
    margin-right: 350px;
    padding-bottom: 0;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    position: relative;
  }

  .btn-benefits {
    position: absolute;
    top: 85%;
    left: 46%;
  }
}
