.projects-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.projects-title {
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: -0.02em;

  color: rgba(250, 250, 250, 0.4);
}

.projects-item {
  max-width: 343px;
}

.projects-info-wrapper {
  padding: 32px;

  background-color: #fafafa;
  border-radius: 24px 24px 0px 0px;
}

.projects-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 6px;
}

.projects-skill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  padding: 13px 18px 13px 18px;

  letter-spacing: -0.02em;

  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  color: #1c1d20;
}
.projects-skill:hover {
  text-shadow: 0 0 10px black;
}

.projects-info-wrapper h3 {
  margin: 94px auto 32px 0;

  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;

  color: #1c1d20;
}

.projects-link {
  display: inline-block;
  padding: 13px 32px;
  width: 141px;
  height: 45px;

  letter-spacing: -0.02em;

  color: #fafafa;
  border-radius: 60px;
  background-color: #ed3b44;
}

.projects-link:hover {
  background-color: #e0373f;
}

.projects-img-wrapper {
  height: auto;
  padding: 100px 16px;

  background-color: #242527;
  border-radius: 0 0 24px 24px;
}

.projects-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.projects-prev-btn,
.projects-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px;
  border-radius: 60px;
  background-color: transparent;
  stroke: var(--white-text-color);
  border: 1px solid rgba(250, 250, 250, 0.5);
  transition: all 0.3s ease;
  overflow: visible;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.projects-prev-btn::before,
.projects-next-btn::before {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  content: '';
  border-radius: 5px;
  background-color: transparent;
  transition: opacity 0.3s ease;
}
.projects-prev-btn:hover,
.projects-next-btn:hover {
  opacity: 1;
  border-radius: 60px;

  box-shadow: 0 0 20px 10px rgba(241, 5, 45, 0.5);
}

.projects-prev-btn[disabled],
.projects-next-btn[disabled] {
  width: 52px;
  height: 52px;
  padding: 14px;

  color: rgba(250, 250, 250, 0.2);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  stroke: rgba(250, 250, 250, 0.2);
  box-shadow: none;
}

.projects-prev-btn[disabled] .projects-arrow-left-icon,
.projects-next-btn[disabled] .projects-arrow-right-icon {
  stroke: rgba(250, 250, 250, 0.2);
}

.btn-prev-review:active,
.btn-next-review:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects-arrow-right-icon,
.projects-arrow-left-icon {
  stroke: #fafafa;
  width: 32px;
  height: 32px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .projects-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .projects-item {
    max-width: 704px;
  }

  .projects-info-wrapper {
    padding: 64px;
  }

  .projects-skills {
    padding: 0px;
  }

  .projects-skill {
    height: 55px;
    padding: 18px;
  }

  .projects-info-wrapper h3 {
    width: 470px;
    margin: 164px auto 32px 0;

    font-size: 44px;
    line-height: 1;
  }

  .projects-link {
    padding: 18px 50px;
    width: 177px;
    height: 55px;
  }

  .projects-img-wrapper {
    padding: 120px 45px;
  }

  .projects-btn-container {
    gap: 20px;
    margin-top: 64px;
  }

  .projects-prev-btn {
    width: 68px;
    height: 68px;
  }

  .projects-next-btn {
    width: 68px;
    height: 68px;
  }
}

/* ---DESKTOP--- */
@media screen and (min-width: 1440px) {
  .projects-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .swiper-slide.projects-item {
    display: flex;
    max-width: 1376px;
  }

  .projects-info-wrapper {
    width: 688px;

    border-radius: 24px 0 0 24px;
  }

  .projects-info-wrapper h3 {
    margin: 223px auto 38px 0;

    font-weight: 500;
    font-size: 44px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #1c1d20;
  }

  .projects-img-wrapper {
    width: 688px;
    padding: 120px 37px;

    border-radius: 0 24px 24px 0;
  }
}
