.footer {
  padding-top: 32px;
  padding-bottom: 32px;

  background-position: top right;
  background-image: url(./img/work-together/footer-back_mob@1x.png);
  background-repeat: no-repeat;
}
@media screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url(./img/work-together/footer-back_mob@2x.png);
  }
}

.footer-wrapper {
  position: relative;
}

.footer-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 44px;
  height: 44px;

  border-radius: 12px;
}

.footer-title {
  margin-bottom: 68px;

  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-indent: 52px;
}
.footer-title .accent {
  color: #ed3b44;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
.footer-input {
  width: 100%;
  height: 44px;

  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;

  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  outline: transparent;

  transition: border-bottom-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus {
  border-bottom-color: #fafafa;
}
.input-wrapper {
  position: relative;
}
.footer-input::placeholder {
  position: absolute;
  left: 0;
  top: 0;

  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  background-color: transparent;
}

/* email validation */
.email-validation {
  display: none;

  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}

.email-valid {
  color: #3cbc81;
}

.email-invalid {
  color: #e74a3b;
}

.footer-input-email {
  margin-bottom: 16px;
}
.footer-input-email:not(:placeholder-shown):valid {
  border-bottom-color: #3cbc81;
  margin-bottom: 0;
}
.footer-input-email:invalid {
  border-bottom-color: #e74a3b;
  margin-bottom: 0;
}
.footer-input-email:not(:placeholder-shown):valid + .email-valid {
  display: block;
}
.footer-input-email:invalid + .email-valid + .email-invalid {
  display: block;
}
/* --------------- */

.footer-input-tel {
  margin-bottom: 32px;
  text-overflow: ellipsis;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  letter-spacing: -0.02em;

  background-color: #ed3b44;
  border: transparent;
  border-radius: 50%;
  outline: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .footer-button:hover {
    background-color: #e0373f;
  }
}
.footer-button:active,
.footer-button:focus {
  background-color: #e0373f;
}

/* footer-address */
.footer-address-list {
  display: flex;
  gap: 4px;
}

.footer-address-link {
  min-height: 37px;
  padding: 10px 12px;

  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .footer-address-link:hover {
    border-color: #fafafa;
  }
}
.footer-address-link:active,
.footer-address-link:focus {
  border-color: #fafafa;
}

/* ----- tablet ---- */
@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 160px;

    background-image: url(./img/work-together/footer-back_tab@1x.png);
  }
  @media screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(./img/work-together/footer-back_tab@2x.png);
    }
  }
  .footer-title {
    text-indent: 90px;
    font-size: 64px;
    line-height: 1.2;

    margin-bottom: 16px;
  }
  .footer-img {
    width: 70px;
    height: 70px;
    border-radius: 24px;
  }
  .footer-form {
    flex-direction: row;
    align-items: baseline;
    gap: 32px;

    margin-bottom: 18px;
  }
  .footer-input {
    width: 245px;
  }
  .footer-button {
    width: 150px;
    height: 150px;
  }

  .footer-address-list {
    gap: 8px;
  }
  .footer-address-link {
    padding: 18px 32px;
    min-width: 170px;
    height: 55px;
  }
}

/* ---desktop--- */
@media only screen and (min-width: 1440px) {
  .footer {
    background-image: url(./img/work-together/footer-back_desk@1x.png);
  }
  @media screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(./img/work-together/footer-back_desk@2x.png);
    }
  }
  .footer-input {
    width: 390px;
  }
  .footer-button {
    margin-left: 54px;
  }
  .footer-address-link {
    width: 239px;
  }
}

/* footer modal */
.footer-modal {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(15, 15, 16, 0.6);
}
.footer-modal-window {
  position: relative;

  width: 343px;
  height: 276px;
  padding: 64px 32px;

  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  background-color: #1c1d20;
}

.icon-close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
}
.footer-modal-title {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
}
.footer-modal-text {
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

/* ------tablet and desktop------- */
@media only screen and (min-width: 768px) {
  .footer-modal-window {
    width: 492px;
    height: 246px;
    padding: 64px;
  }
}

.fix-scroll {
  overflow: hidden;
}
